/*Disable touch swiping*/
/*Adaptive*/
@media (max-width: 767px) {
  .mt-4-mobile {
    display: block !important;
  }
  .logo {
    padding-bottom: 41px !important;
  }
  #main {
    padding-top: 14px !important;
    padding-bottom: 35px !important;
  }
  #main .adaptive {
    width: 100%;
    font-size: 36px;
    line-height: 39.6px;
  }
  #main .mt-4-desktop {
    display: none;
  }
  #main .text-qr {
    display: none;
  }
  #main .qr-mobile {
    display: none;
  }
  #main .apple {
    display: block !important;
  }
  #main .google {
    display: block !important;
  }
  #description {
    position: static !important;
  }
  #description .simple_ellipse {
    padding-top: 80px;
    text-align: center;
  }
  #download {
    text-align: center;
  }
  #download h3 {
    width: auto !important;
  }
  #opportunity {
    text-align: center;
  }
  #opportunity h3 {
    width: auto !important;
  }
  #opportunity .text-qr p {
    text-align: center !important;
  }
  #footer .main-btn {
    padding: 16px 55px !important;
  }
}
@font-face {
  font-family: "FuturaPTMedium";
  src: url("../fonts/FuturaPTMedium.eot");
  src: url("../fonts/FuturaPTMedium.eot") format("embedded-opentype"), url("../fonts/FuturaPTMedium.woff2") format("woff2"), url("../fonts/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaPTMedium.svg#FuturaPTMedium") format("svg");
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

header {
  background: radial-gradient(rgba(246, 243, 239, 0), #F6F3EF);
}
header .logo {
  padding-top: 42px;
  padding-bottom: 51px;
}
header .mt-4-mobile {
  display: none;
}

#main {
  background: url(../img/header_bg.png) no-repeat;
  padding-top: 55px;
  padding-bottom: 130px;
}
#main h1 {
  font-family: "FuturaPTMedium", sans-serif;
  font-size: 52px;
  line-height: 57.2px;
  text-align: center;
  color: #1D2B3F;
  width: 570px;
  padding-bottom: 49px;
}
#main .apple {
  display: none;
}
#main .google {
  display: none;
}

#description {
  position: relative;
  top: -110px;
  z-index: 1;
}
#description p {
  width: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
#description .ellipse {
  background: url(../img/ellipse.png) no-repeat center;
  background-size: 100%;
}
#description .ellipse .bold {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}

#slider {
  padding-top: 100px;
}

#download {
  padding-top: 40px;
}
#download h3 {
  width: 570px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#opportunity {
  padding-top: 20px;
}
#opportunity h3 {
  color: #2D3436;
  width: 470px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
#opportunity .ellipse-blue {
  background: url(../img/ellipse-blue.png) no-repeat center;
  background-size: 100%;
}

#footer {
  padding-bottom: 114px;
}
#footer .main-btn {
  background-color: #F8F2EC;
  border: none;
  padding: 16px 370px;
}
#footer .main-btn a {
  color: #B68756;
}

.text-qr {
  width: 195px;
}
.text-qr p {
  color: #1D2B3F;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.pl-160 {
  padding-left: 160px;
}

.img-wrap {
  position: relative;
  width: 100%;
}
.img-wrap_bottom {
  position: absolute;
  right: 200px;
  top: 72px;
  z-index: -2;
}
.img-wrap_middle {
  top: 0px;
  left: 65px;
  position: absolute;
  z-index: -1;
}
.img-wrap_top {
  padding-top: 72px;
  padding-left: 200px;
}
.img-wrap_opportunity_bottom {
  position: absolute;
  top: 83px;
  left: 136px;
}
.img-wrap_opportunity_top {
  padding-bottom: 83px;
  padding-right: 136px;
}

.simple_ellipse {
  background: url(../img/simple-ellipse.png) no-repeat center;
  background-size: 100%;
  width: 270px;
}
.simple_ellipse p {
  color: #2D3436;
}
.simple_ellipse .apple {
  padding-top: 26px;
}
.simple_ellipse .google {
  padding-top: 13px;
}