.logo {
  margin-top: 42px;
}

.header {
  background-image: url("img/bg.png");
  margin-top: 132px;
}

.row {
  justify-content: center;
  align-items: center;
}

.w-270 {
  width: 270px;
}

.img-wrap {
  position: relative;
}
.img-wrap_1 {
  left: 100%;
  z-index: 7;
}
.img-wrap_3 {
  z-index: 4;
}